<nav>
    <a href="/">
        <img src="/logo.png" id="logo" alt="Blog logo"/>
    </a>
    <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
    <div id="bio">
        <p>Researcher and web/software developer, BCC Citycat frequenter, hot chocolate and scrambled eggs ftw!</p>
        <p>I'm part of a research team building a <a href="http://baw.ecosounds.org/">Bioacoustic Workbench</a> for analysing audio recordings.</p>
        <p>You can also see some of my <a href="http://yet.anotherbyte.net/">Works-in-Progress, Experiments, and Hack Competition Submissions</a>.</p>
        <p><a href="/archive">Archive</a></p>
        <p><a href="/tags">Tags</a></p>
    </div>
    <div id="social">
        {% include social.html %}
    </div>
    <div id="">

    </div>
</nav>
