<nav class="h-card" itemscope="" itemtype="http://schema.org/Person">
    <a class="p-url" href="{{ site.url }}">
        <link itemprop="url" href="{{ site.url }}"/>

        {% if site.data.theme.social.gravatar %}
        <img class="u-photo" itemprop="image"
             src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar"
             alt="My photo"/>
        {% else %}
        <img class="u-photo" itemprop="image" src="/logo.png" id="logo" alt="Blog logo"/>
        {% endif %}

    </a>

    <h2>
        I'm <a class="p-name p-given-name" itemprop="name givenName" href="{{ site.url }}">{{ site.data.theme.name }}</a>.
    </h2>

    <div id="bio">
        <p class="p-note" style="text-align:center;">
            <small>
                <em>
                    {{ site.data.theme.tagline }}
                </em>
            </small>
        </p>

        <p class="p-note" itemprop="description">
            {{ site.description }}
        </p>

        <p class="p-note" itemprop="description">
            Web developer, BCC CityCat frequenter, hot chocolate and scrambled eggs ftw!
        </p>

        <p class="p-note">
            You can also see some of my <a rel="me" href="http://yet.anotherbyte.net/">Works-in-Progress, Experiments,
            and Hack Competition Submissions</a>.
            <link itemprop="url" href="http://yet.anotherbyte.net/"/>
        </p>
        <p>
            <a href="/archive">Archive</a>
        </p>
    </div>
    <div id="social">
        {% include social.html %}
    </div>
    
    <div>
        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/cofiem" data-widget-id="729988624343687169">Tweets by @cofiem</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    </nav>
